<section class="todoapp">
  <app-header></app-header>
  <div *ngIf="tasks.length > 0" class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <ul class="todo-list">
        <app-task 
          *ngFor="let task of tasks"
          [task]="task"
        ></app-task>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <app-footer></app-footer>
  </div>
</section>
